.scontainer {
  margin-left: 30%;
  margin-top: 1.3%;
  overflow: hidden;
  overflow-y: hidden;
}
.inputfield {
  width: 50%;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #98959e;
  outline: none;
  overflow-y: hidden;
}
button {
  margin-left: 12px;
  height: 29px;
  font-weight: bold;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 6px;
  border: 1px solid #edf0ef;
  background-color: #edf0ef;
  overflow-y: hidden;
}
.faicon {
  margin-left: 4px;
  position: relative;
  bottom: 1.3px;
  overflow-y: hidden;
}
